.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  background-color: #43b174 !important;
  border-radius: 0.3rem;
  font-family: 'Montserrat', sans-serif; }

@media screen and (max-width: 600px) {
  .jumbotron {
    float: none;
    width: 100%;
    overflow: hidden;
    hyphens: auto; } }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%; }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-item {
  font-style: italic; }

.card-title {
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  font-weight: bolder; }

.card-body {
  font-family: 'Montserrat', sans-serif; }

#formulario {
  font-family: 'Montserrat', sans-serif; }
  #formulario .rownarrow {
    font-weight: bolder; }
  #formulario .form-check-label {
    font-style: italic;
    font-weight: normal; }

#carruselFotos {
  width: 80%;
  align-self: center;
  align-items: center;
  padding-left: 200px;
  position: relative; }

@media (max-width: 768px) {
  #carruselFotos {
    padding: 0;
    width: 100%; } }

.slide {
  width: 100% !important;
  height: auto; }

.slider-wrapper .slider {
  width: 2000%; }

.slider-wrapper .slider li {
  width: 5% !important;
  position: relative;
  min-height: 300px; }

.slider-wrapper .slider li .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover; }

.navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: auto; }

.textnav {
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
    overflow: hidden; } }

.footer {
  padding: 0 300px 0 300px;
  margin-top: 5px; }

.textofooter {
  font-size: 1.25rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-align: left; }

.containercolor {
  background-color: #43b174;
  height: auto;
  padding: 50px;
  margin-top: 20px;
  width: auto; }

@media (max-width: 300px) {
  #footer {
    display: none; }
  .textnav {
    width: 25%; } }

img {
  max-width: 100%; }

.table table-hover {
  overflow: hidden; }
