// CARROUSEL TESTIMONIOS

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
      display:block;
}

.carousel-item{
    font-style: italic;
}

.carousel-inner{
  border-width: 50px;
}

//   TARJETAS

.card-title {
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  font-weight: bolder;
}

.card-body {
  font-family: 'Montserrat', sans-serif;
}


// Formulario

#formulario{
  font-family: 'Montserrat', sans-serif;
  padding-left: 190px;
  .rownarrow{ 
    font-weight: bolder;
  }
  .form-check-label{ 
    font-style: italic;
    font-weight: normal;
}
}





