
.footer {
    padding: 0 300px 0 300px; 
    margin-top: 5px;
}
  
.textofooter {
    font-size: 1.25rem;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.containercolor {
        background-color: #43b174;
        height: auto;
        padding: 50px;
        margin-top: 20px;
        width: auto; 
}