.navbar {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    padding: auto;
    background-color: rgb(240, 229, 217);
  }
     
   .textnav {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
   }

   @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      width: 100%;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        max-width: 150px; 
        height: auto;  
       }
      }
}