@import "jumbotron";
@import "components";
@import "navbar";
@import "footer";

// GENERALES

@media (max-width: 300px) {
    #footer {display: none;}
    .textnav {
  width: 25%;
 }}

 img {
    max-width: 100%; }

.table table-hover {
  overflow: hidden;
}

.table{
  padding-left: 190px;
}

@media screen and (max-width: 767px) {
  #contenedorTabla {
    padding-left: 0px;
  } 
}

body{
  background-color: rgb(240, 229, 217);
}

.top-content{
  font-family: 'Montserrat', sans-serif;
}
